name: Rust

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Rustfmt
        run: cargo fmt --all
      
      - name: Test
        run: cargo test
